<h1>Listing axis_events</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @axis_events.each do |axis_event| %>
      <tr>
        <td><%= axis_event.rank %></td>
        <td><%= axis_event.description %></td>
        <td><%= link_to 'Show', axis_event %></td>
        <td><%= link_to 'Edit', edit_axis_event_path(axis_event) %></td>
        <td><%= link_to 'Destroy', axis_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Axis event', new_axis_event_path %>
