<%= form_for(@mission) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label'כותרת' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'פירוט'%><br>
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label 'בוצע' %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit 'שלח טופס' %>
  </div>
<% end %>
