<h1>המשימות שלי</h1>

<table>
  <thead>
    <tr>
      <th>כותרת</th>
      <th>בוצע</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.title %></td>
        <td><%= mission.done ? 'כן':'לא' %></td>
        <td><%= link_to 'פתח', mission %></td>
        <td><%= link_to 'ערוך', edit_mission_path(mission) %></td>
        <td><%= link_to 'מחק', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'משימה חדשה', new_mission_path %>
