<p id="notice"><%= notice %></p>

<p>
  <strong>כותרת:</strong>
  <%= @mission.title %>
</p>

<p>
  <strong>פירוט:</strong>
  <%= @mission.details %>
</p>

<p>
  <strong>בוצע:</strong>
  <%= @mission.done ? 'כן':'לא'  %>
</p>

<%= link_to 'ערוך', edit_mission_path(@mission) %> |
<%= link_to 'חזור', missions_path %>
