<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mission.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @mission.details %>
</p>

<p>
  <strong>Done:</strong>
  <%= @mission.done %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
