<!DOCTYPE html>
<html>
<head>
  <title>Missions</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='top-bar'></div>
<div id='content' class="blue">
  <div id="user-widget">
    <% if current_user %>

        Welcome <strong><%= current_user.id %></strong>!
        <br>
        Welcome <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
    <% if session[:user_id] %>
    <img src="<%= session[:image]	 %>" alt="Smiley face" width="30" height="30">
    <% end %>
  </div>
<%= yield %>
</div>
</body>
</html>
